<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>
  <div class="principal">
    <br />
    <div class="secundaria">
      <div class="cabecalho">
        <div class="titulo">Contratos </div>
        <div class="botao"><button><a class="texto_cadastrar" href="{{ url_for('new_contrato') }}"> <img class="img_btn"
                src="/static/cadastrar.png">Cadastrar Novo Contrato
            </a></button></div>
      </div>
      <br>
    </div>
    <div class="terciaria">

      <br><br>
      <div class="message"> {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}</div>

      <table class="center">
        <thead>
          <tr>
            <th class="hide"></th>
            <th>Tipo de Contrato</th>
            <th>Fiador</th>
            <th>Data de Início</th>
            <th>Data de Fim</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {% for contrato in contrato %}
          <tr>
            <td class="hide">
              <input type="hidden" name="id" enabled="false" value="{{ contrato.id }}" />
            </td>
            <td>{{ contrato.tipo_contrato }}</td>
            <td>{{ contrato.fiador }}</td>
            <td>{{ contrato.data_inicio }}</td>
            <td>{{ contrato.data_fim }}</td>
            <th>
              <button class="btn_tabela"><a href="{{ url_for('update_contrato', id=contrato.id) }}"><img class="img_btn"
                    src="/static/editar.png"></a></button>
            </th>
            <th>
              <button class="btn_tabela"><a href="{{ url_for('contrato_delete', id=contrato.id) }}"><img class="img_btn"
                    src="/static/excluir.png"></a></button>
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <br /><br />
    </div>
    <div class="pg_inicial">
      <button class="bt_pg_inicial"><a href="{{ url_for('index') }}"><img class="img_btn" src="/static/home_pq.png">
          Voltar para a página Inicial</a></button>
    </div>
  </div>
</body>

</html>