<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}" />
</head>

<body>
    <div class="principal">
        <br />
        <div class="secundaria">
            <div class="cabecalho">
                <div class="titulo">Cadastro de Aluguéis</div>
            </div>
            <br>
        </div>
        <div class="terciaria">
            <br><br>
            <div class="message"> {%- for category, message in get_flashed_messages(with_categories = true) %}</div>
            <div class="alert alert-danger">{{ message }}</div>
            {%- endfor %}
            <div class="form">
                <form action="" method="POST">
                    <input type="hidden" name="idaluguel" value="{{aluguel.id}}" /><br />
                    <label>Corretor: </label>
                    <select name="id_corretor" width="300px">
                        {% for corretor in corretor %}
                        {% if aluguel.id_corretor == corretor.id %}
                        <option value="{{ corretor.id }}" selected>
                            {{ corretor.nome }} {{ corretor.sobrenome }}</option>
                        {% else %}
                        <option value="{{ corretor.id }}">
                            {{ corretor.nome }} {{ corretor.sobrenome }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select><br />
                    <label>Imóvel: </label>
                    <select name="id_imovel" width="300px">
                        {% for imovel in imovel %}
                        {% if aluguel.id_imovel == imovel.id %}
                        <option value="{{ imovel.id }}" selected>
                            {{ imovel.endereco }}</option>
                        {% else %}
                        <option value="{{ imovel.id }}">
                            {{ imovel.endereco }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select><br />
                    <label>Contrato: </label>
                    <select name="id_contrato" width="300px">
                        {% for contrato in contrato %}
                        {% if aluguel.id_contrato == contrato.id %}
                        <option value="{{ contrato.id }}" selected>
                            {{ contrato.tipo_contrato }}: {{ contrato.data_inicio }} - {{ contrato.data_fim }}</option>
                        {% else %}
                        <option value="{{ contrato.id }}">
                            {{ contrato.tipo_contrato }}: {{ contrato.data_inicio }} - {{ contrato.data_fim }}</option>
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select><br />
                    <label>Inquilino: </label>
                    <select name="id_inquilino" width="300px">
                        {% for inquilino in inquilino %}
                        {% if aluguel.id_inquilino == inquilino.id %}
                        <option value="{{ inquilino.id }}" selected>
                            {{ inquilino.nome }} {{ inquilino.sobrenome }}</option>
                        {% else %}
                        <option value="{{ inquilino.id }}">
                            {{ inquilino.nome }} {{ inquilino.sobrenome }}
                        </option>
                        {% endif %}
                        {% endfor %}
                    </select><br />
                    <label>Valor: </label>
                    <input type="text" name="valor" placeholder="Valor" value="{{aluguel.valor}}"
                        onchange="this.value = this.value.replace(/,/g, '.')" /><br />
                    <label>Exige calção? </label>
                    <input type="text" name="exige_calcao" placeholder="Exige calção?"
                        value="{{aluguel.exige_calcao}}" /><br />
                    <label>Aceita melhorias? </label>
                    <input type="text" name="aceita_melhorias" placeholder="Aceita melhorias?"
                        value="{{aluguel.aceita_melhorias}}" /><br />
                    <input class="inserir" type="submit" value="Atualizar" />
                </form>
            </div><br><br>
        </div>
    </div>
    <div class="pg_inicial">
        <button class="bt_pg_inicial">
            <a href="{{ url_for('show_all_alugueis') }}"><img class="img_btn" src="/static/return_pq.png"> Voltar
                para Lista</a>
        </button></div>
</body>

</html>